main {
	margin: auto;
}
section {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px 0;
}

.container {
	padding: 0 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    .contenedor1 {
        max-width: 250px;
        display: flex;
        border: 2px solid #c3c3c3;
        padding: 15px;
        margin: auto;
        border-radius: 10px;
        text-wrap: pretty;
        box-shadow: 0 0 55px #0007;
    }
    .contenedor2 {
        display: flex;
        border: 2px solid #c3c3c3;
        padding: 15px;
        margin: auto;
        border-radius: 10px;
        text-wrap: pretty;
        box-shadow: 0 0 55px #0007;
        background-color: #f0e8e1;
        background-image: linear-gradient(transparent, #0009);
    }
}

.grid {
	padding: 30px;
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 30% 30% 30%;
	justify-content: center;
    .grid-foto {
        margin: 10px;
        padding: 10px;
        img {
            width: 100%;
            object-fit: cover;
            height: auto;
        }
    }
}


