form {
	background-color: #ededed;
	padding: 20px 0;
	max-width: 500px;
	margin: auto;
	box-shadow: 0 0 35px #0006;
	margin-top: 50px;
    .form_input {
	    padding: 6px 20px;
    }
    input, textarea {
        min-width: 100%;
        box-sizing: border-box;
        padding: 6px 8px;
        border: none;
        border-left: 3px solid #999;
        box-shadow: 0 0 15px #0001;
        background-color: transparent;
        border-radius: 4px;
    }
    textarea {
        min-height: 100px;
        max-height: 200px;
    }
    label {
        font-size: 0.85em;
        line-height: 2;
    }
}

