* {
	margin: 0;
	padding: 0;
}

body {
	padding: 30px 30px;
}

header {
	padding: 10px 100px;
}

main {
	margin: auto;
}

section {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px 0;
}

h2 {
	text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
	text-align: center;
}

li {
	background: url(../img/menu_libg.gif) top right repeat-y;
}

li a:hover {
	color: #000000;
	text-decoration: underline;
}

.section_empresa {
	padding: 0 50px;
	margin: 30px;
	justify-items: auto;
	text-wrap: pretty;
}

.container {
	padding: 0 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor1 {
	max-width: 250px;
	display: flex;
	border: 2px solid #c3c3c3;
	padding: 15px;
	margin: auto;
	border-radius: 10px;
	text-wrap: pretty;
	box-shadow: 0 0 55px #0007;
}

.contenedor2 {
	display: flex;
	border: 2px solid #c3c3c3;
	padding: 15px;
	margin: auto;
	border-radius: 10px;
	text-wrap: pretty;
	box-shadow: 0 0 55px #0007;
}

.grid {
	padding: 30px;
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 30% 30% 30%;
	justify-content: center;
}

.grid-foto {
	margin: 10px;
	padding: 10px;
}

.grid-foto img {
	width: 100%;
	object-fit: cover;
	height: auto;
}

form {
	background-color: #ededed;
	padding: 20px 0;
	max-width: 500px;
	margin: auto;
	box-shadow: 0 0 35px #0006;
	margin-top: 50px;
}

.form_input {
	padding: 6px 20px;
}

input, textarea {
	min-width: 100%;
	box-sizing: border-box;
	padding: 6px 8px;
	border: none;
	border-left: 3px solid #999;
	box-shadow: 0 0 15px #0001;
	background-color: transparent;
	border-radius: 4px;
}

textarea {
	min-height: 100px;
	max-height: 200px;
}

label {
	font-size: 0.85em;
	line-height: 2;
}

footer {
	background:#FFFFFF url(../img/footer.gif) bottom repeat-x;
	height: 40px;
	padding:35px;
	font-weight: bold;
	text-align: center;
}

@media screen and  (max-width:480px) {
	
}